* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-color: #efeff2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Calculator {
    width: 400px;
    height: 500px;
    /* border: 2px solid black; */
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
    border-radius: 14px;
    background-color: #22252D;
    overflow: hidden;
}


form input {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 14px;
    padding: 10px 10px;
    font-size: 30px;
    color: white;
    background-color: #000;
    text-align: right;
    /* noone can directly delete the value from screen & so they can use de btn */
    pointer-events: none;
}

button {
    width: 90px;
    height: 58px;
    font-size: 22px;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 16px;
    padding: 10px 20px;
    margin: 6px 2px;
    cursor: pointer;
    flex: 0 0 12%;
    margin: 5px 2px;
    justify-content: space-evenly;
    margin-top: 6px;
    margin-left: 4px;
    flex-wrap: wrap;
}

.btn-Equal {
    margin-top: 6px;
    margin-left: 4px;
    width: 180px;
    font-size: 30px;
    color: white;
    background-color: #ffc107;
}

.btn-ac {
    color: white;
    background-color: #f24c4c;
}

.btn-de {
    color: white;
    background-color: #35bbc7;
}

.btn-op {
    font-size: 25px;
    color: brown;
    background-color: pink;
}


@media only screen and (min-width: 0px) and  (max-width: 450px){

    .Calculator{
    width: 400px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);    border-radius: 14px;
    background-color: #e3e4e8;
    overflow: hidden;
    }

    form input {
        width: 100%;
        height: 120px;
        border: none;
        border-radius: 12px;
        padding: 6px 6px;
        font-size: 30px;
        color: rgb(4, 4, 4);
        background-color: rgb(250, 245, 245);
        text-align: right;
        /* noone can directly delete the value from screen & so they can use de btn */
        pointer-events: none;
        border: 3px solid black;
    }

    button {
        width: 70px;
        height: 52px;
        font-size: 22px;
        font-weight: 600;
        border: 2px solid black;
        border-radius: 16px;
        padding: 10px 10px;
        margin: 6px 2px;
        cursor: pointer;
        flex: 0 0 12%;
        margin: 5px 2px;
        justify-content: space-evenly;
        margin-top: 12px;
        margin-left: 10px;
        flex-shrink: 1;
    }
}